<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Suite1" verbose="1" >
    <parameter name="capital" value="Kiev" />
    <parameter name="country" value="Ukraine" />

    <test name="TestWithGroups">
        <classes>
            <class name="com.example.tests.TestWithGroups">
                <methods>
                    <exclude name="third"/>
                </methods>
            </class>
        </classes>

    </test>

    <test name="TestParameters">
        <classes>
            <class name="com.example.tests.TestParameters"/>
        </classes>
    </test>

</suite>